<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
    <title class="mb-4">FAQ's, no aseguro seriedad 🥱</title>
</head>
<body>
    <h1>FAQ's</h1>
    <h2>preguntas frecuentes</h2>
    <p>que le pasan a nuestros datos?</p>
    <p>nada, se supone que se guardan pero no pago esa subscripcion 🥵</p>
    <br>
    <p>para que es el formulario?</p>
    <p>para ver si eres apto en este mundo 🫤</p>
    <br>
    <p>es seguro este link?</p>
    <p>no, yo me encargo de instalar troyanos en computadoras para divertirme, si lo respondes tienes riesgo a una openhaimmer en tu casa 🤗</p>
    <br>
    <a href="{{ url_for('index') }}">Volver al inicio</a>
</body>
</html>
