<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Nuestra ubicacion</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">  
</head>
<body>
  <div class="container mt-4">
    <h1>Ubicacion</h1>
    <p>Aqui puedes encontrarnos:</p>
    
    <div class="ratio ratio-16x9">
        <iframe src="https://www.google.com/maps/embed?pb=!4v1757724135345!6m8!1m7!1sb7UbGJzMUD_mJoGTRVjW3g!2m2!1d-12.01214835691024!2d-76.79643745824944!3f262.1435705743684!4f0.92625943944266!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>  
    
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">volver a peru 🇵🇪</a>

  </div>
</body>
