<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Nuestra ubicacion</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">  
</head>
<body>
  <div class="container mt-4">
    <h1>Ubicacion</h1>
    <p>Aqui puedes encontrarnos:</p>

    <div class="ratio ratio-16x9">
      <iframe
        <iframe src="https://www.google.com/maps/embed?pb=!3m2!1ses-419!2smx!4v1757722932847!5m2!1ses-419!2smx!6m8!1m7!1sVX3_FraifCDqz8Xs275tcg!2m2!1d-8.269502664722618!2d-77.85431248591365!3f68.01227787001952!4f-2.8017407317041148!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        width="600"
        height="450"
        style="border:0;"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>  
    
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">volver a peru 🇵🇪</a>

  </div>
</body>
